*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: $ffMain;
	background: $white;
}

.container {
	padding: 0 20px;
	max-width: $container;
	margin-inline: auto;
}

section {
	max-width: $section;
	margin-inline: auto;
}

.btn {
	display: inline-block;
	border: 0;
	outline: 0;
	cursor: pointer;

	&._primary {
		background: $purpleGrad;
		border-radius: $radiusRound;
		padding: 15px 30px;
		@include text($ffMain, 700, 16px, 20px, $white);
	}
}

.material-icons {
	cursor: pointer;
}
