.footer {
    background:rgba(205, 16, 255, 0.05);
    padding: 63px 10px;
    margin-top: 120px;

    &__logo {
        display: flex;
        justify-content: center;
        gap: 80px;
       
    }

    &__nav {
        display: flex;
        justify-content: center;
        margin-inline: auto;
        gap: 100px;
        margin-top: 50px;
    }
}
.in {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 40px;
    border-radius: 33px;
    background: white;
    max-width: 890px;
    width: 100%;

    &__input {
        border: none;
        outline:none;
        max-width: 600px;
        width: 100%;
        @include text($ffMain, 400, 16px, 20px, $darkGreyBlue);
        opacity: 0.5;
    }
}
.btn-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    max-width: 135p;
    height: 50px;
    background: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
    border-radius: 33px;
    cursor: pointer;

}
.subscribe {
    @include text($ffMain, 700, 16px, 20px, $white);
}
.footer-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ul {
    &__lititle {
        @include text($ffMain, 700, 16px, 20px, $darkBlue);
    }
    &__lidesc {
        @include text($ffMain, 400, 16px, 20px, $darkGreyBlue);
    }
}


.footer-ul1 {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-ul2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
