.statistics {
	position: relative;
	z-index: 1;
	max-width: 1120px;
    background: $white;
    border: 1px solid #E7EAEB;
    border-radius: $radius;
	min-height: 172px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 30px 0;
	@include mobile{
		margin-inline: auto;
   }
	

}
.student {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 20px ;
	max-width: 100%;
	border-right: 1px solid #E7EAEB;

		&__title {
			@include text($ffAdd, 700, 40px, 50px, $darkBlue);
		}

		&__desc {
			@include text($ffMain, 400, 16px, 20px, $darkGreyBlue);
		}

		@include desktop-small {
			&__title {
				@include text($ffAdd, 700, 35px, 50px, $darkBlue);
			}
	
			&__desc {
				@include text($ffMain, 400, 14px, 20px, $darkGreyBlue);
			}
		}
		@include mobile{
			&__title {
				@include text($ffAdd, 700, 25px, 50px, $darkBlue);
			}
	
			&__desc {
				@include text($ffMain, 400, 12px, 20px, $darkGreyBlue);
			}
	   }
}
.lectures {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 20px ;
	max-width: 100%;
	border-right: 1px solid #E7EAEB;

		&__title {
			@include text($ffAdd, 700, 40px, 50px, $darkBlue);
		}

		&__desc {
			@include text($ffMain, 400, 16px, 20px, $darkGreyBlue);
		}
		@include desktop-small {
			&__title {
				@include text($ffAdd, 700, 35px, 50px, $darkBlue);
			}
	
			&__desc {
				@include text($ffMain, 400, 14px, 20px, $darkGreyBlue);
			}
		}
		@include mobile{
			&__title {
				@include text($ffAdd, 700, 25px, 50px, $darkBlue);
			}
	
			&__desc {
				@include text($ffMain, 400, 12px, 20px, $darkGreyBlue);
			}
		}
}
.reviews {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 20px ;
	max-width: 100%;

		&__title {
			@include text($ffAdd, 700, 40px, 50px, $darkBlue);
		}

		&__desc {@include text($ffMain, 400, 16px, 20px, $darkGreyBlue);
		}
		@include desktop-small {
			&__title {
				@include text($ffAdd, 700, 35px, 50px, $darkBlue);
			}
	
			&__desc {
				@include text($ffMain, 400, 14px, 20px, $darkGreyBlue);
			}
		}
		@include mobile{
			&__title {
				@include text($ffAdd, 700, 25px, 50px, $darkBlue);
			}
	
			&__desc {
				@include text($ffMain, 400, 12px, 20px, $darkGreyBlue);
			}
		}
}
